.pantry__item {
  margin: 0 3rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #343a40;
  color: #495057;
  font-weight: 700;
  letter-spacing: 0.03rem;
  text-transform: capitalize;
}

.feather {
  height: 2.4rem;
  width: 2.4rem;
  stroke-width: 2;
}

.feather:hover {
  cursor: pointer;
}

.feather-plus {
  color: #2b8a3e;
}
.feather-minus {
  color: #c92a2a;
}
