.pantry__list {
  background-color: #dfbd92;
  /* background-color: #c19a6b; */
  height: 40rem;
  overflow: auto;
}
.pantry__list ul {
  list-style: none;
  padding: 3rem;
}

.pantry__list p {
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}
