.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  position: relative;
}

.wrapper label {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.wrapper input {
  width: 100%;
  border: none;
  padding: 1.2rem 2rem 1.2rem 3.4rem;
}

.wrapper input::placeholder {
  color: #adb5bd;
}

.wrapper input:focus {
  outline: none;
}

.feather-search {
  position: absolute;
  height: 1.8rem;

  transform: translate(-50%, -50%);
  /* No message */
  top: 75%;
  /* With message */
  /* top: 82%; */
  left: 5%;
}

@media screen and (max-width: 69em) {
  .wrapper label {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 54em) {
  .wrapper input {
    width: 85%;
    padding: 1.6rem 2rem 1.6rem 3.4rem;
  }

  .feather-search {
    top: 72%;
    left: 9.6%;
  }
}

@media screen and (max-width: 32em) {
  .wrapper input {
    width: 100%;
    padding: 1.6rem 2rem 1.6rem 3.4rem;
  }
  .feather-search {
    top: 72%;
    left: 4%;
  }
}
