.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  position: relative;
}

.wrapper label {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.wrapper input {
  width: 100%;
  border: none;
  padding: 1.2rem 2rem 1.2rem 3.4rem;
}

.wrapper input::placeholder {
  color: #adb5bd;
}

.wrapper input:focus {
  outline: none;
}

.feather-search {
  position: absolute;
  height: 1.8rem;

  transform: translate(-50%, -50%);
  /* No message */
  top: 75%;
  /* With message */
  /* top: 82%; */
  left: 5%;
}

@media screen and (max-width: 69em) {
  .wrapper label {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 54em) {
  .wrapper input {
    width: 85%;
    padding: 1.6rem 2rem 1.6rem 3.4rem;
  }

  .feather-search {
    top: 72%;
    left: 9.6%;
  }
}

@media screen and (max-width: 32em) {
  .wrapper input {
    width: 100%;
    padding: 1.6rem 2rem 1.6rem 3.4rem;
  }
  .feather-search {
    top: 72%;
    left: 4%;
  }
}

.auto-box {
  position: absolute;
  top: 100%;
  list-style: none;
  z-index: 2;
  background: #fff;
  width: 100%;
  padding: 0;
  text-align: left;
  min-height: 20rem;
}

.auto-box li {
  padding: 1rem 0;
  padding-left: 1.2rem;
  height: min-content;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.6rem;
  color: #495057;
}

.auto-box li:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.add {
  height: 2rem;
  width: 2rem;
  color: #37b24d;
}

.active {
  background-color: antiquewhite;
  color: #37b24d;
}
