.recipe__item {
  width: 100%;

  overflow: hidden;
  padding: 0.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1rem;
  border-radius: 1.2rem;
  box-shadow: 2px 2px 9px rgba(175, 173, 173, 0.515);

  text-decoration: none;
  color: inherit;
}

.recipe__item:hover {
  cursor: pointer;
  background-color: #fffafa;
}

.recipe__item:active {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(3px);
}
.recipe__item h2 {
  font-size: 1.6rem;

  color: #fd7e14;
}

.img-wrapper {
  width: 20%;

  background-color: #f1f3f5;
  display: none;
}
.recipe__item img {
  width: 100%;
}

.recipe__summary {
  width: 100%;
}

.recipe__summary ul {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  gap: 1.8rem;
}
.recipe__summary li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.4rem;
}

.btn-wrapper {
  width: 100%;

  padding: 1.2rem;
}
.btn {
  font-size: 1.6rem;
  border: none;
  text-decoration: none;
  background-color: #fd7e14;
  color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  transition: all 0.1s;
}

.btn:hover {
  background-color: #ff922b;
  cursor: pointer;
}
.btn:active {
  transform: translateY(2px);
}

.plus {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 6px;
  color: #2f9e44;
}
.minus {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 6px;
  color: #e03131;
}

.loading-img {
  width: 20%;
  height: 10rem;

  /* background-color: #f1f3f5; */
}

.link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 32em) {
  .recipe__summary li {
    font-size: 1.4rem;
  }
  .img-wrapper {
    width: 40%;
  }
  .plus {
    height: 1.4rem;
    width: 1.4rem;
  }
  .minus {
    height: 1.4rem;
    width: 1.4rem;
  }
}

@media screen and (max-width: 22em) {
  .img-wrapper {
    width: 50%;
  }
  .recipe__item h2 {
    font-size: 1.4rem;

    color: #fd7e14;
  }
  .recipe__summary li {
    font-size: 1.2rem;
  }
}
