.recipes {
  grid-column: 3 / 4;
  background-color: #fff4e6;
  border-radius: 1.2rem;
  padding: 1.2rem 4rem;
  min-height: fit-content;
  margin-left: 3rem;
}

.header {
  color: #fd7e14;
  text-align: center;

  text-transform: uppercase;

  padding: 2rem 3rem;
}

.header h1 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}

.recipe-msg {
  font-size: 1.8rem;
  padding: 3rem;
}

.loader {
  display: grid;
  place-content: center;
  padding: 3rem;
}
@media screen and (max-width: 69em) {
  .header h1 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 54em) {
  .recipes {
    grid-column: 2;
    grid-row: 2;
    margin-left: 0;
  }

  .recipe-msg {
    font-size: 1.6rem;
    padding: 3rem;
  }
}

@media screen and (max-width: 32em) {
  .recipes {
    padding: 1.2rem;
  }
  .recipe-msg {
    font-size: 1.6rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 22em) {
  .recipe-msg {
    font-size: 1.4rem;
  }
}
