.recipe__item {
  width: 100%;
  height: 48rem;
  overflow: hidden;
  padding: 1.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  border-radius: 1.2rem;
  box-shadow: 2px 2px 9px rgba(175, 173, 173, 0.515);
}

.recipe__item h2 {
  font-size: 1.8rem;

  color: #fd7e14;
}

.img-wrapper {
  width: 100%;
  height: 17rem;
  background-color: #f1f3f5;
  display: none;
}
.recipe__item img {
  width: 100%;
}

.recipe__summary {
  margin-top: auto;
  width: 100%;
}

.recipe__summary p {
  text-align: left;
  margin: 0.5rem 0;
  color: #000;
  font-size: 1.6rem;
}

.recipe__summary ul {
  padding: 0;
  margin: 1.8rem 0;
}
.recipe__summary li {
  list-style: none;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.btn-wrapper {
  width: 100%;
  border-top: 1px solid rgb(159, 151, 151);
  padding: 1.2rem;
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 1.6rem;
  border: none;
  text-decoration: none;
  background-color: #fd7e14;
  color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  transition: all 0.1s;
}

.btn:hover {
  background-color: #ff922b;
  cursor: pointer;
}
.btn:active {
  transform: translateY(2px);
}

.plus {
  height: 1.2rem;
  color: #2f9e44;
}
.minus {
  height: 1.2rem;
  color: #e03131;
}

.loading-img {
  width: 100%;
  height: 17rem;
  background-color: #f1f3f5;
}
